<div class="panel panel-default" id="payment" data-hook>
  <div class="panel-heading">
    <h3 class="panel-title"><%= Spree.t(:payment_information) %></h3>
  </div>
  <div class="panel-body" data-hook="checkout_payment_step">
    <p>
      <%= Spree.t(:puntopagos_try_again_or_later) %>
    </p>
    <% unless Rails.env.production? %>
      <span><%= @error %></span>
    <% end %>
  </div>
</div>

<div class="well text-right form-buttons" data-hook="buttons">
  <%= link_to Spree.t(:save_and_continue), checkout_state_path('payment'), :class => 'continue button primary' %>
  <script>Spree.disableSaveOnClick();</script>
</div>