<div class="panel panel-default" id="payment" data-hook>
  <div class="panel-heading">
    <h3 class="panel-title"><%= Spree.t(:payment_information) %></h3>
  </div>
  <div class="panel-body" data-hook="checkout_payment_step">
    <p>
      <%= Spree.t(:puntopagos_try_again_or_later) %>
    </p>

    <% if @payment.respond_to?(:puntopagos_params) and @payment.puntopagos_params and @payment.puntopagos_params['error'] %>
      <p>
        <strong><%= @payment.puntopagos_params['error'] %></strong>
      </p>
    <% end %>
  </div>
</div>

<div class="well form-buttons" data-hook="buttons">
  <%= link_to Spree.t(:previous), checkout_state_path('payment'), :class => 'continue button primary' %>
  <script>Spree.disableSaveOnClick();</script>
</div>